<div class="row justify-content-center">
  <div class="col-xs-12 col-md-6 col-lg-4">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
            />
            <span
              *ngIf="
                registerForm.get('email')?.touched &&
                registerForm.get('email')?.invalid &&
                registerForm.get('email')?.errors?.['required']
              "
              class="text-danger"
              >Email is mandatory</span
            >
            <span
              *ngIf="
                registerForm.get('email')?.touched &&
                registerForm.get('email')?.invalid &&
                registerForm.get('email')?.errors?.['email']
              "
              class="text-danger"
              >Please enter a valid email</span
            >
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              formControlName="username"
            />
            <span
              *ngIf="
                registerForm.get('username')?.touched &&
                registerForm.get('username')?.invalid &&
                registerForm.get('username')?.errors?.['required']
              "
              class="text-danger"
              >Username is mandatory</span
            >
            <span
              *ngIf="
                registerForm.get('username')?.touched &&
                registerForm.get('username')?.invalid &&
                registerForm.get('username')?.errors?.['minlength']
              "
              class="text-danger"
              >Username must be at least
              {{registerForm.get('username')?.errors?.['minlength']?.requiredLength}}
              characters long</span
            >
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
            />
            <span
              *ngIf="
                registerForm.get('password')?.touched &&
                registerForm.get('password')?.invalid &&
                registerForm.get('password')?.errors?.['required']
              "
              class="text-danger"
              >Password is mandatory</span
            >
            <span
              *ngIf="
                registerForm.get('password')?.touched &&
                registerForm.get('password')?.invalid &&
                registerForm.get('password')?.errors?.['minlength']
              "
              class="text-danger"
              >Password can be at least
              {{registerForm.get('password')?.errors?.['minlength']?.requiredLength}}
              characters long</span
            >
          </div>

          <span class="text-muted"
            >Already have an account?
            <a aria-current="page" [routerLink]="['/login']">Login</a></span
          >
          <div class="row justify-content-center p-2">
            <button type="submit" class="btn btn-primary submit-button">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
