<div class="card h-100">
  <a [routerLink]="link" class="card-item h-100">
    <div class="card-body h-100">
      <img [src]="imageUrl" class="card-img-top" [alt]="title" />
      <h5 class="card-title text-center py-2">{{ title }}</h5>
      <app-card-description [description]="description"></app-card-description>
    </div>
  </a>
  <div class="card-footer d-flex justify-content-end" *ngIf="showFavoriteIcon">
    <app-card-footer
      [isLoggedIn]="isLoggedIn"
      [isInFavorites]="isInFavorites"
      [favoriteItemId]="favoriteItemId"
    ></app-card-footer>
  </div>
</div>
