<div class="row" *ngIf="categoryList?.length; else loadingBlock">
  <a
    [routerLink]="['/', category.strCategory, 'meals']"
    class="p-1 col-xs-12 col-sm-6 col-md-4 col-lg-3 category-card"
    *ngFor="let category of categoryList"
  >
    <app-card
      [imageUrl]="category.strCategoryThumb"
      [description]="category.strCategoryDescription"
      [maxDescriptionLength]="200"
      [title]="category.strCategory"
    ></app-card>
  </a>
</div>

<ng-template #loadingBlock>Loading...</ng-template>
