<div class="row" *ngIf="categoryList?.length; else loadingBlock">
  <a
    [routerLink]="['/', category.strCategory, 'meals']"
    class="p-1 col-xs-12 col-md-3 category-card"
    *ngFor="let category of categoryList"
  >
    <div class="card h-100">
      <img [src]="category.strCategoryThumb" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ category.strCategory }}</h5>
        <p class="card-text text-muted">
          {{ getDescriptionSummary(category.strCategoryDescription) }}
        </p>
      </div>
    </div>
  </a>
</div>

<ng-template #loadingBlock>Loading...</ng-template>
